@model Misaar.Models.FeedbackForm


<div class="feedback">
    <p>Оставьте свое сообщение и контактные данные и мы свяжемся с Вами в ближайшее время.</p>

    @using (Html.BeginForm("Feedback", "Home", FormMethod.Post, new { id = "contact-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <span class="visible-lg asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:120px" /></span>
            <span class="visible-md asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:85px" /></span>
            <span class="visible-sm visible-xs asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:-6px" /></span>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-align">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="visible-lg asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:35px" /></span>
                <span class="visible-md asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:80px" /></span>
                <span class="visible-sm visible-xs asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:6px" /></span>
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })                
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <span class="visible-lg asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:33px" /></span>
                <span class="visible-md asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:88px" /></span>
                <span class="visible-sm visible-xs asterix"><img src="~/Images/asterisk_red.png" alt="asterix" style="margin-left:6px" /></span>
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })               
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Отправить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <p class="asterix">Поля, обязательные для заполнения, помечены <img src="~/Images/asterisk_red.png" alt="asterix" style="margin-top:-35px"/></p>
</div>


