
<div class="navbar navbar-fixed-top navbar-inverse visible-lg">
    <div class="container">
        <div class="navbar-left" style="background-color:white">
            <a href=@Url.Action("Index", "Home", new { area = ""})><img src="~/Images/misaarLogo.jpg" width="105" height="75" /></a>
        </div>
        
            <a href=@Url.Action("Index", "Home", new { area = ""})>
                <div class="navbar-header navbar-brand">
                    <img src="http://x-lines.ru/letters/i/cyrillicfancy/0833/376331/22/0/4n6pbqgto8embwfo4gynbwf94n77ddstor.png" style="margin-top:-3px">
                </div>
           </a>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("На главную", "Index", new { area = "", controller = "Home" })</li>
                <li>@Html.ActionLink("О нас", "About", new { area = "", controller = "Home" })</li>
                <li>@Html.ActionLink("Контакты", "Contact", new { area = "", controller = "Home" })</li>                
                <li>@Html.ActionLink("Доставка", "Delivery", new { area = "", controller = "Home" })</li>
                <li>@Html.ActionLink("Сотрудничество", "Cooperation", new { area = "", controller = "Home" })</li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar navbar-inverse visible-md visible-sm" style="margin-top:-75px; margin-bottom:0">
    <div class="container">
        <div class="navbar-left" style="background-color:white">
            <a href=@Url.Action("Index", "Home", new { area = ""})><img src="~/Images/misaarLogo.jpg" width="105" height="75" /></a>
        </div>
        <div class="navbar-header navbar-brand">
            <a href=@Url.Action("Index", "Home", new { area = ""})>
                <img src="http://x-lines.ru/letters/i/cyrillicfancy/0833/376331/22/0/4n6pbqgto8embwfo4gynbwf94n77ddstor.png" style="margin-top:-3px">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("На главную", "Index", new { area = "", controller = "Home" })</li>
                <li>@Html.ActionLink("О нас", "About", new { area = "", controller = "Home" })</li>
                <li>@Html.ActionLink("Контакты", "Contact", new { area = "", controller = "Home" })</li>
                <li>@Html.ActionLink("Доставка", "Delivery", new { area = "", controller = "Home" })</li>
                <li>@Html.ActionLink("Сотрудничество", "Cooperation", new { area = "", controller = "Home" })</li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar navbar-inverse visible-xs" style="margin-top:-75px">
    <div class="container">
        <div class="navbar-left" style="background-color:transparent">
            <a href=@Url.Action("Index", "Home", new { area = ""})>
                <img src="~/Images/misaarLogo.jpg" width="70" height="50" class="pull-left" style="margin:10px 5px 10px 0" />
                <img src="http://x-lines.ru/letters/i/cyrillicfancy/0833/f9f6f6/18/0/4n6pbqgto8embwfo4gynbwf94n77ddstor.png" style="margin:20px 0 10px 10px">
            </a>
        </div>
        <div id="mobileNav">
            <ul class="navig">                
                <li>@Html.ActionLink("Контакты", "Contact", new { area = "", controller = "Home" })</li>
                <li>@Html.ActionLink("Доставка", "Delivery", new { area = "", controller = "Home" })</li>
            </ul>
        </div>
    </div>
</div>

