@using Misaar.Models
@model Article

@{
    ViewBag.Title = "Редактирование статьи";    
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Редактирование статьи</h2>

@using (Html.BeginForm("Edit", "Articles", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Статья</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("category", ViewBag.Categories as SelectList,
                    htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Align, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("align", ViewBag.PictureAlign as SelectList,
                    htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Align, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.Pictures.Any(f => f.PictureType == PictureType.Main))
        {
            <div class="form-group">
                <span class="control-label col-md-2"><strong>Текущая картинка</strong></span>
                <div class="col-md-10">
                    <img src="~/Picture?id=@Model.Pictures.First(f => f.PictureType == PictureType.Main).Id" alt="main" />
                </div>
            </div>
        }

        <div class="form-group">
            @Html.Label("Картинка", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Main" name="upload" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить изменения" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<a href=@Url.Action("Index", "Articles") class="btn btn-default">
    К списку статей
</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
