@model Misaar.Models.Product

@{
    ViewBag.Title = "Удаление товара";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Удаление товара</h2>

<h3>Уверены что хотите удалить этот товар?</h3>
<div>
    <h4>Товар</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTopSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTopSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysToWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysToWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHide)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presence)
        </dd>       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />
            @Html.ActionLink("К списку товаров", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
