<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Mobile/css", "~/Content/jquerymobile/css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
        <script>
            $(document).ready(function () {
                $.mobile.ajaxEnabled = false; 
            });
        </script>
    </head> 
<body>

    <div data-role="page" data-theme="a">

        <div data-role="header" id="mobileHeader">
            <a href=@Url.Action("Index", "Home")>
                <h4 class="top-header-mob">МИСААР ПЛЮС</h4>
            </a>              
        </div>

        <div data-role="navbar" id="mobileNav">
            <ul class="nav">
                <li>
                    <span class="drop-down">Продукция</span>
                    @{Html.RenderAction("MenuMobile", "Home");}
                </li>                
                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                <li>@Html.ActionLink("Доставка", "Delivery", "Home")</li>
            </ul>
        </div>

        <div data-role="content">
            @RenderSection("featured", false)
            @RenderBody()
        </div>

        <div id="send-phone-form">

            <div id="send-phone-xbutton">
                <img src="~/Images/close-icon-small.png" alt="close" width="20" />
            </div>
            <div class="phoneSend">
                <p>Введите номер телефона</p>
                <form action="~/Home/SendPhone" method="post">
                    <input type="text" name="phone" id="phone" class="form-control" />
                    <br />
                    <br />
                    <input type="submit" value="Отправить" class="btn btn-default" />
                </form>
            </div>

        </div>
       
        <div data-role="footer" id="footer">
            @{ Html.RenderAction("FooterMobile", "Home");}
        </div>
        @Html.Partial("_ViewSwitcher")
    </div>

    <script src="~/Scripts/HideShowDiv.js"></script>
    <script src="~/Scripts/mobile-dropdown-menu.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>