<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=@ViewBag.MetaDescription />
    <meta name="keywords" content=@ViewBag.KeyWords />
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_PartialTopMenu")

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="container">
        @{ Html.RenderAction("Footer", "Home");}
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
